<h1>New Article</h1>
<%# DEV: Rails will wrap all new fields/parameters in bracket notation (e.g. name="article[title]") for names %>
<%#   It will also use snake_case for `for/id` matchings (e.g. `for/id="article_title"`) %>
<%# DEV: `f` stands for FormBuilder but it's verbose to reuse across all these lines %>
<%# DEV: Rails knows this is a new article due to `articles_path` not receiving an argument %>
<%= form_for(:article, :url => articles_path) do |f| %>
  <%# If there were errors during save, render them %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label(:title) %><br/>
    <%= f.text_field(:title) %>
  </p>

  <p>
    <%= f.label(:text) %><br/>
    <%= f.text_field(:text) %>
  </p>

  <p>
    <%= f.submit() %>
  </p>
<% end # form_for %>

<p><%= link_to("Back to articles list", articles_path) %></p>
